beautifultable==1.1.0
click==8.1.7
colorama==0.4.6
dlib==19.24.6
face-recognition==1.3.0
face_recognition_models==0.3.0
filelock==3.16.1
filetype==1.2.0
numpy==2.1.3
opencv-python==4.10.0.84
pillow==11.0.0
pysondb==1.6.7
setuptools==75.3.0
wcwidth==0.2.13
